.dropdown {
  &-container {
    position: relative;
    display: inline-block;
  }

  &-button {
    border: none;
    background: none;
    cursor: pointer;
  }

  &-menu {
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
    border-radius: 4px;
  }

  &-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: #f1f1f1;
    }
  }

  &-divider {
    height: 1px;
    background-color: #ccc;
    margin: 5px 0;
  }
}
