.dropdown {
  &-container {
    position: relative;
    display: inline-block;
  }

  &-button {
    border: none;
    background: none;
    cursor: pointer;
    display: inline-flex;
  }

  &-menu {
    position: absolute;
    right: 0;
    top: 150%;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 100px;
    border-radius: 4px;
    padding: 4px 0
  }

  &-item {
    padding: 12px 16px;
    background: none;
    border:none;
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: left;

    &:hover {
      background-color: var(--color-primary-light)
    }

    &:disabled{
      cursor: not-allowed;
    }

    &.is-active{
      background-color:  var(--color-primary-light);
    }
  }

  &-divider {
    height: 1px;
    background-color: #ccc;
    margin: 5px 0;
  }
}
