.base-card {
  @media screen and (min-width: 768px) {
    border: 1px solid var(--color-secondary-3);
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
    padding: 30px;
    border-radius: 4px;
  }
}
