.user-section {
  padding: 15px 0;
  border-bottom: 1px solid var(--color-secondary-2);

  @media screen and (min-width: 768px) {
    padding: 30px 0;
  }

  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
    border: none;
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 30px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px 8px;

    &.grid-4 {
      grid-template-columns: repeat(1, 1fr);
    }

    @media screen and (min-width: 468px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px 16px;

      &.grid-4 {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px 16px;

      &.grid-4 {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media screen and (min-width: 968px) {
      grid-template-columns: repeat(5, 1fr);
      gap: 30px 16px;

      &.grid-4 {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__label {
    font-size: 12px;
    text-transform: uppercase;
  }

  &__value {
    font-weight: 500;
    font-size: 16px;
  }
}
