.stats{
  &-card{
    display: flex;
    flex-direction: column;
    gap: 12px
  }

  &-title{
    font-weight: 500;
  }

  &-count{
    font-weight: 600;
    font-size: 24px;
    color: var(--color-secondary)
  }

  &-image{
    margin-top: -10px;
    margin-bottom: 2px;
    display: inline-flex;
  }

  &-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 26px;
    margin-bottom: 40px;
  }
}

.user-table{
  &__status{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
