.stats {
  &-card {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &-title {
    font-weight: 500;
  }

  &-count {
    font-weight: 600;
    font-size: 24px;
    color: var(--color-secondary);
  }

  &-image {
    margin-top: -10px;
    margin-bottom: 2px;
    display: inline-flex;
  }

  &-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 26px;
    margin-bottom: 40px;

    @media screen and (min-width: 568px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 968px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.user-table {
  display: none;

  @media screen and (min-width: 968px) {
    display: block;
  }

  &__status {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.user-mobile {
  display: flex;
  flex-direction: column;

  &__wrapper {
    @media screen and (min-width: 968px) {
      display: none;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px 0;
    border-bottom: 1px solid var(--color-secondary-2);

    &:last-child {
      border: none;
    }

    &--top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__org {
    font-weight: 500;
    font-size: 16px;
  }

  &__created-at {
    font-size: 12px;
  }

  &__name {
    color: var(--color-secondary);
    text-decoration: none;
  }
}

.user-sort{
  &__popover{
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px;
    background-color: var(--color-secondary-2);
    border-radius: 6px;


    img{
      width: 12px;
      height: 12px;
    }
  }
}
