.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  &-overlay {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
  }

  &-content{
    background-color: white;
    width: 285px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
}
