.user-menu {
  display: flex;
  align-items: center;
  gap: 10px;

  &__dropdown {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
  }

  &__image {
    width: 48px;
    height: 48px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100%;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.04);
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  justify-content: space-between;

  &-logo {
    width: 180px;
    padding: 30px;

    @media screen and (min-width: 968px) {
      width: 283px;
      padding: 29px 30px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-main {
    align-items: center;
    gap: 24px;
    padding: 26px 60px;
    flex-grow: 1;
    font-size: 16px;
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &-searchbar {
    flex-grow: 1;
  }

  &-user {
    display: none;

    @media screen and (min-width: 1240px) {
      display: flex;
      align-items: center;
      gap: 36px;
      list-style: none;
    }
  }

  &-mobile {
    &__ham {
      background: none;
      border: none;
      padding: 20px;
      margin-right: 12px;

      @media screen and (min-width: 1240px) {
        display: none;
      }
    }
  }
}
