.side-nav {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.04);
  width: 283px;
  height: calc(100vh - 100px);
  overflow-y: auto;
  padding-top: 40px;

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    padding: 10px 20px 10px 30px;
    font-size: 16px;
    color: var(--color-text-dark);
    list-style: none;
    border-left: 3px solid transparent;
    transition: 100ms linear;
    opacity: 0.6;

    &:hover {
      background-color: var(--color-primary-light);
      opacity: 1;
    }

    &.full-opacity {
      opacity: 1;
    }

    &.is-active {
      border-color: var(--color-primary);
      background-color: var(--color-primary-light);
      opacity: 1;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 30px;
    }
  }

  &__btn {
    border: none;
    background: none;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--color-text);
  }

  &__icon {
    width: 16px;
    height: 16px;
  }

  &__section {
    font-weight: 500;
    font-size: 12px;
    margin: 10px 30px;
    display: inline-block;
  }

  &__dashboard {
    margin: 30px 0 20px;
  }

  &__hr {
    border-color: var(--color-text-dark);
    opacity: 0.1;
    margin-bottom: 10px;
    margin-top: 60px;
  }

  &__version {
    font-size: 12px;
    margin: 30px 30px 15px;
  }
}
