.table {
  width: 100%;
  border-collapse: collapse;

  &__head {
    &--text {
      font-weight: 600;
      font-size: 12px;
      padding: 12px;
      text-transform: uppercase;
      text-align: left;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    &--sort {
      margin-left: 10px;
      border: none;
      background: none;
      position: relative;
      top: 2px;
      cursor: pointer;
      padding: 4px;
      border-radius: 4px;
      display: inline-flex;

      img {
        width: 16px;
        height: 16px;
      }

      &.is-active {
        background-color: var(--color-secondary-2);
      }
    }
  }

  &__data_cell {
    padding: 16px 12px;
    text-align: left;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &__row {
    text-align: left;
    border-bottom: 1px solid var(--color-secondary-2);

    &:last-child {
      border-bottom: none;
    }

    &__data {
      text-align: center;
    }
  }
}
