:root {
  --color-white: #ffffff;
  --color-primary: #39CDCC;
  --color-text: #545F7D;
  --color-border: rgba(33, 63, 125, 0.2);
  --color-text-dark: #213F7D;
  --color-primary-light: rgba(57, 205, 204, 0.06);

  font-optical-sizing: auto;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  font-family: "Work Sans", Avenir, system-ui, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  color: var(--color-text);
  font-weight: 400;
  font-size: 14px;
}

ul, li, ol{
  list-style: none;
}
